In [66]:
%pip install webdriver-manager
from selenium import webdriver

Requirement already satisfied: webdriver-manager in /Users/lcorrea/opt/anaconda3/lib/python3.9/site-packages (3.8.3)
Requirement already satisfied: requests in /Users/lcorrea/opt/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (2.27.1)
Requirement already satisfied: python-dotenv in /Users/lcorrea/opt/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (0.20.0)
Requirement already satisfied: tqdm in /Users/lcorrea/opt/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (4.64.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/lcorrea/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/lcorrea/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/lcorrea/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/lcorrea/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [67]:
%pip install selenium

Requirement already satisfied: selenium in /Users/lcorrea/opt/anaconda3/lib/python3.9/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Users/lcorrea/opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.9)
Note: you may need to restart the kernel to use updated packages.

In [68]:
from webdriver_manager.chrome import ChromeDriverManager



PATH=ChromeDriverManager().install()      

driver=webdriver.Chrome(PATH)    

driver.get('https://www.google.es')

[WDM] - Downloading: 100%|█████████████████| 8.15M/8.15M [00:00<00:00, 73.6MB/s]

In [69]:
url = 'https://www.iii.org/fact-statistic/facts-statistics-global-catastrophes'

In [43]:
driver = webdriver.Chrome(PATH)
driver.get(url) 

tabla = display([element.text.split('\n') for element in driver.find_elements_by_xpath('//*[@id="node-221605"]/div/div[2]/div/div/div[1]/table/tbody/tr/td/table')])

[['Rank Date Country/region Event Deaths',
  '1 Nov. 12, 1970 Bangladesh Cyclone Bhola  300,000',
  '2 Jul. 27, 1976 China Tangshan earthquake 242,769',
  '3 Jul. 30, 1975 Taiwan, China Super Typhoon Nina 230,000',
  '4 Dec. 26, 2004 Indian Ocean Basin Indian Ocean earthquake and tsunami 227,898',
  '5 Jan. 12, 2010 Haiti Port-au-Prince earthquake 160,000',
  '6 Apr. 1991 Bangladesh Cyclone Gorky 139,000',
  '7 May 2008 Myanmar Cyclone Nargis 138,366',
  '8 Aug. 1971 Vietnam Vietnam floods 100,000',
  '9 Oct. 8, 2005 Pakistan Kashmir earthquake 88,000',
  '10 May 12, 2008 China Sichuan earthquake 87,652']]

In [55]:
tabla=driver.find_element_by_xpath('//*[@id="node-221605"]/div/div[2]/div/div/div[1]/table/tbody/tr/td/table')


filas=tabla.find_elements_by_tag_name('tr')

cabeceras=[e.text for e in filas[0].find_elements_by_tag_name('th')]

cabeceras

['Rank', 'Date', 'Country/region', 'Event', 'Deaths']

In [58]:
datos=[[e.text for e in f.find_elements_by_tag_name('td')] for f in filas[1:]]

In [74]:
cabeceras_2 = ['Rank', 'Date', 'Area', 'Event', 'Deaths']

In [75]:
import pandas as pd

desastres_naturales = pd.DataFrame(datos, columns=cabeceras_2)

In [76]:
desastres_naturales

,Rank,Date,Area,Event,Deaths
0,1,"Nov. 12, 1970",Bangladesh,Cyclone Bhola,"300,000"
1,2,"Jul. 27, 1976",China,Tangshan earthquake,"242,769"
2,3,"Jul. 30, 1975","Taiwan, China",Super Typhoon Nina,"230,000"
3,4,"Dec. 26, 2004",Indian Ocean Basin,Indian Ocean earthquake and tsunami,"227,898"
4,5,"Jan. 12, 2010",Haiti,Port-au-Prince earthquake,"160,000"
5,6,Apr. 1991,Bangladesh,Cyclone Gorky,"139,000"
6,7,May 2008,Myanmar,Cyclone Nargis,"138,366"
7,8,Aug. 1971,Vietnam,Vietnam floods,"100,000"
8,9,"Oct. 8, 2005",Pakistan,Kashmir earthquake,"88,000"
9,10,"May 12, 2008",China,Sichuan earthquake,"87,652"

In [79]:
desastres_naturales.to_csv('desastres_naturale.csv', index = False)