In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
language = pd.read_csv("/Users/lcorrea/Documents/GitHub/w3-database-project/data/language.csv",sep=',', encoding='latin-1')

In [4]:
language

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

In [6]:
language.rename(columns = {'name':'language'},inplace = True)

In [7]:
language

   language_id  language          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

In [9]:
language.drop(columns = ['last_update'], inplace = True)

In [10]:
language.to_csv('languages.csv', index = False)